<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penny Pinchers</title>
    <link rel="stylesheet" href="/CSS/budget.css" type="text/css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
     <header class="headTitle">
        <h1 class="headApName">Penny Pinchers</h1>
    
    </header> 

    <div class="main">
        <form class="budget-form">
            <p class="budget-header">Enter the amount you would like to budget for each category: </p>

            <p class="grocery-budget">Groceries</p>
            <div class="dollar">$<input class="grocery-input" type="number" id="groceryBudget" name="grocery-input" min="0" step="1"></div>

            <p class="transportation-budget">Transportation</p>
            <div class="dollar">$<input class="transportation-input" type="number" id="transportationInput" name="transportation-input" min="0" step="1"></div>

            <p class="dining-budget">Dining</p>
            <div class="dollar">$<input class="dining-input" type="number" id="diningInput" name="dining-input" min="0" step="1"></div>

            <p class="shopping-budget">Shopping</p>
            <div class="dollar">$<input class="shopping-input" type="number" id="shoppingInput" name="shopping-input" min="0" step="1"></div>

            <br>

            <button class="budget-Btn" type="submit">Submit Budget</button>
        </form>
    </div>

    
    <script src="JS/setbudget.js"></script>
</body>