@import url('https://fonts.googleapis.com/css?family=Caveat:400,700|Exo+2&display=swap');
html,body {
    margin:0;
    padding:0;
    background: url('../images/Untitled.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
    background-size: cover;
}

.headTitle {
    border: 2px solid #bdb9b999;
    background-color: #eae7e7ba;
    background-color: #60452ab0;
    box-shadow: 10px 10px 8px #bfb6b65e; 
}

.headApName {
    font-family: 'Caveat', cursive, sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    color: #f9d8c0;
    margin-left: 27%;
}

form {
    font-family: 'Exo 2', sans-serif;
    color: #f9d8c0;
    font-size: 1em;
    text-align:center;
    padding: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    height: 240px;
    margin-top: 6%;
    border: 2px solid #bdb9b999;
    background-color: #eae7e7ba;
    background-color: #60452ab0;
    box-shadow: 10px 10px 8px #bfb6b65e
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee0;
    color: #f9d8c0;
    height: 20px;
    text-align: center;
    font-size: 1em
}

input:focus{
  outline: none;
}

button {
  margin-top: 15px;
  width: 318px;
  padding: 11px;
  margin-left:-9px;
  margin-bottom: 0px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #efefefcc;
  font-size: .9em;
  font-family: 'Exo 2', sans-serif;
  color: #ffe9d9;
  background-color: #90867b9c;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline:0;
}

select {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  height: 30px;
  width: 120px;
}